* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Roboto Slab";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    /*тк ширина контейнера 1170 + 15*2 px*/
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

button {
    border: none;
    cursor: pointer;
}

div.inline {
    display: inline-block;
}

div.flex {
    display: flex;
}

.block {
    display: block;
}

.taCenter {
    text-align: center;
}

.table {
    display: table;
}

.tCell {
    display: table-cell;
}

.tRow {
    display: table-row;
}

.w100 {
    width: 100%;
}

.bgFilling {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.invisLink {
    position: relative;
    z-index: 1;
}

.invisLink > a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}

/*Шапка Главной страницы (main/header)*/

header .headerImg {
    width: 1920px;
    height: 1696px;
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -960px;
}

.headerImg {
    position: relative;
    z-index: 1;
}

.logoTxt div:nth-child(1) {
    font-family: "Podkova";
    font-size: 19.72px;
    color: #ff9001;
    font-weight: 800;
    text-transform: uppercase;
}

.logoTxt div:nth-child(2) {
    font-family: "Podkova";
    font-size: 62.1px;
    color: #ff9001;
    font-weight: 800;
    text-transform: uppercase;
}

.logoTxt div:nth-child(3) {
    font-family: "Podkova";
    font-size: 12.57px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.6em;
}

.logoFloat {
    padding-top: 30px;
    display: inline-block;
    width: 50%;
    float: left;
}

header .communication a[href*="tel"] {
    font-size: 33px;
    line-height: 19.72px;
    color: #ff692a;
    text-decoration: none;
    font-weight: 600;
}

header .communication a[href*="mail"] {
    font-size: 17px;
    line-height: 19.72px;
    color: #ff9001;
    font-weight: 300;
    letter-spacing: 0.050em;
}

header .communicationFloat {
    width: 50%;
    padding-top: 50px;
    float: right;
    text-align: right;
}

header a[class*="icon"] {
    text-decoration: none;
}

header .tel a .small {
    font-size: 12px;
    line-height: 19.72px;
    vertical-align: super;
    letter-spacing: 0.2em;
}

header .menu a {
    font-size: 17px;
    line-height: 19.72px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

header .menu span {
    font-size: 17px;
    line-height: 19.72px;
    color: #ff9001;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

header .menu ul li {
    display: inline-block;
    margin: 30px;
}

.mb155 {
    margin-bottom: 155px;
}

.headline div:nth-child(1) {
    font-size: 50px;
    line-height: 80px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-weight: 600;
}

.headline div:nth-child(2) {
    font-family: "Podkova";
    font-size: 133px;
    line-height: 133px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-weight: 600;
}

.headline div:nth-child(3) {
    font-size: 25px;
    line-height: 70px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.0350em;
}

.mb130 {
    margin-bottom: 130px;
}

.logButtons .btnFillColor1 {
    font-family: "Roboto Slab";
    font-size: 17px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    width: 200px;
    height: 57px;
    margin-right: 30px;
    background-color: #ff692a;
}

.logButtons .btnFillColor2 {
    font-family: "Roboto Slab";
    font-size: 17px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    width: 200px;
    height: 57px;
    background-color: #ff9001;
}

.mb245 {
    margin-bottom: 245px;
}


.h3whiteLight {
    font-size: 18px;
    line-height: 70px;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 0.0150em;
    text-transform: uppercase;
    text-align: center;
}

.h2whiteBold {
    font-size: 50px;
    line-height: 70px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-align: center;
}

.mb90 {
    margin-bottom: 90px;
}

.cards div div:nth-child(1) {
    font-size: 35px;
    line-height: 40px;
    color: #ffffff;
    letter-spacing: 0.025em;
    font-weight: 600;
}

.cards div div:nth-child(2) {
    /*картинка*/
}

.cards div div:nth-child(3) {
    font-size: 45px;
    line-height: 40px;
    color: #ff9001;
    letter-spacing: 0.025em;
    font-weight: 600;
}

.cards div div:nth-child(4) {
    font-size: 18px;
    line-height: 30px;
    color: #ff692a;
    letter-spacing: 0.025em;
    font-weight: 300;
}

.cards div div:nth-child(5) {
    font-size: 18px;
    line-height: 30px;
    color: #ff692a;
    letter-spacing: 0.025em;
    font-weight: 600;
}

.card {
    border: 1px solid #ffffff;
    margin: 22px;
}

.mb330 {
    margin-bottom: 305px;
}

/*Калькулятор Прибыли (main/calculator)*/

.calculator .calcBackImg {
    width: 1920px;
    height: 1292px;
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -960px;
}

.calcBackImg {
    position: relative;
    z-index: 1;
}

.calculator .calcImgSemiLight {
    width: 1231px;
    height: 703px;
    position: absolute;
    z-index: -1;
}

.calcImgSemiLight {
    position: relative;
    z-index: 1;
}

.h3blackLight {
    font-size: 18px;
    line-height: 70px;
    color: #05141b;
    font-weight: 300;
    letter-spacing: 0.0150em;
    text-transform: uppercase;
    text-align: center;
}

.h2blackBold {
    font-size: 50px;
    line-height: 70px;
    color: #05141b;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-align: center;
}

.mb195 {
    margin-bottom: 195px;
}

.calculator label {
    font-size: 17px;
    line-height: 30px;
    color: #05141b;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-transform: uppercase;
}

.calcDep .CalcDepAmount div + div {
    font-size: 24px;
    line-height: 30px;
    color: #05141b;
    letter-spacing: 0.025em;
    font-weight: 600;
}

.calcResult li div:nth-child(1) {
    font-size: 17px;
    line-height: 30px;
    color: #05141b;
}

.calcResult li div:nth-child(2) {
    font-size: 24px;
    line-height: 30px;
    color: #05141b;
    font-weight: 600;
}

.calcResult {
    margin: 0 -10px;
    display: flex;
}

.calcResult li {
    width: 20%;
    margin: 10px;
    padding: 15px;
}

.calcResultborder {
    border: 1px solid #05141b;
    background-color: transparent;
    text-align: center;
}

.calcResultColor1 {
    background-color: #ff9001;
    text-align: center;
}

.calcResultColor2 {
    background-color: #ff692a;
    text-align: center;
}

.calcResult .whiteTxtResult div:nth-child(1) {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
}

.calcResult .whiteTxtResult div:nth-child(2) {
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 600;
}

.calcResult li {
    box-shadow: 0px 8px 0px 11px rgba(0, 0, 0, 0.11);
}

.mt50 {
    margin-top: 50px;
}

.mb50 {
    margin-bottom: 50px;
}

.calcAction {
    text-align: center;
}

.blackTxt {
    font-size: 17px;
    line-height: 30px;
    color: #05141b;
    letter-spacing: 0.025em;
}

.btnFillColor3 {
    font-family: "Roboto Slab";
    font-size: 17px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.050em;
    text-transform: uppercase;
    width: 211px;
    height: 56px;
    background-color: #06141b;
}

.mb410 {
    margin-bottom: 410px;
}

/*Блок "О нас" (main/About)*/

.about .aboutBackImg {
    width: 1920px;
    height: 1876px;
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -960px;
}

.aboutBackImg {
    position: relative;
    z-index: 1;
}

.about .videoPresBackImg {
    width: 1235px;
    height: 707px;
    position: absolute;
    z-index: -1;
    margin-bottom: 100px;
}

.videoPresBackImg {
    position: relative;
    z-index: 1;
}

.mb120 {
    margin-bottom: 120px;
}

.license span {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.025em;
    font-weight: 600;
}

.license p {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    letter-spacing: 0.025em;
    padding-bottom: 45px;
}

.license .aboutCard p {
    padding-bottom: 30px;
}

.license .checkCompany span {
    font-size: 20px;
    line-height: 24px;
}

.white {
    color: #ffffff;
}

.orange {
    color: #ff9001;
}

.license .checkCompany p {
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
}

.mb300 {
    margin-bottom: 300px;
}

.mb70 {
    margin-bottom: 70px;
}

.checkCompany {
    position: relative;
    width: 260px;
    height: 405px;
    text-align: left;
    background-color: #131c1f;
    border: 1px solid #ffffff;
    padding: 25px;
    margin: 0px 45px 0px 45px;
}

.checkCompany div {
    position: absolute;
    width: 260px;
    height: 60px;
    text-align: center;
    left: -1px;
    bottom: -1px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb20d+0,fa7805+100 */
    background: #ffb20d; /* Old browsers */
    background: -moz-linear-gradient(left, #ffb20d 0%, #fa7805 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffb20d 0%, #fa7805 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffb20d 0%, #fa7805 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb20d', endColorstr='#fa7805', GradientType=1); /* IE6-9 */
}

.checkCompany div a {
    font-size: 17px;
    color: #ffffff;
    line-height: 55px;
    letter-spacing: 0.050em;
    text-decoration: none;
    text-transform: uppercase;
}

.aboutCard {
    float: right;
}

.mb520 {
    margin-bottom: 520px;
}

.videoPresentation {
    text-align: center;
    vertical-align: center;
}

/*Блок преимущества (mail/advantages)*/

.advantages .advBackImg {
    width: 1920px;
    height: 1155px;
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -960px;
}

.advBackImg {
    position: relative;
    z-index: 1;
}

.leftAdv div span:nth-child(2), .rightAdv div span:nth-child(2) {
    font-size: 17px;
    line-height: 30px;
    color: #05141b;
    font-weight: 600;
    text-transform: uppercase;
}

.leftAdv div p, .rightAdv div p {
    font-size: 17px;
    line-height: 30px;
    color: #05141b;
    font-weight: 300;
}

.advantages .leftAdv {
    float: left;
    width: 50%;
    text-align: left;
}

.advantages .rightAdv {
    float: right;
    width: 50%;
    text-align: right;
}

.advItem {
    margin-bottom: 75px;
}

.mb160 {
    margin-bottom: 160px;
}

/*Призыв к регистрации (main/signUp)*/

.signUp {
    height: 200px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb20d+0,fa7805+100 */
    background: #ffb20d; /* Old browsers */
    background: -moz-linear-gradient(left, #ffb20d 0%, #fa7805 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffb20d 0%, #fa7805 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffb20d 0%, #fa7805 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb20d', endColorstr='#fa7805', GradientType=1); /* IE6-9 */
}

.signUpTxt span:first-child {
    font-size: 50px;
    line-height: 60px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.025em;
    display: block;
}

.signUpTxt span:last-child {
    font-size: 30px;
    line-height: 50px;
    color: #06151c;
    font-weight: 300;
    letter-spacing: 0.025em;
    display: block;
}

.btnFillFrame button {
    font-family: "Podkova";
    font-size: 24px;
    width: 270px;
    height: 70px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    border: 5px solid #ffffff;
    background-color: inherit;
    float: right;
    margin: 60px;
}

.signUpLeft {
    float: left;
    margin: 40px;
}

.mb220 {
    margin-bottom: 220px;
}

/*Блок с активностью (main/action)*/

.action .actionBackImg {
    width: 1920px;
    height: 1291px;
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -960px;
}

.actionBackImg {
    position: relative;
    z-index: 1;
}

.iconCaps {
    font-size: 25px;
    line-height: 48px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-weight: 600;
}

.action .lastDeposits div span:nth-child(1) {
    font-size: 15px;
    line-height: 40px;
    color: #ffffff;
    letter-spacing: 0.025em;
    font-weight: 300;
}

.action .lastDeposits div span:nth-child(2) {
    font-size: 15px;
    line-height: 40px;
    color: #ff692a;
    letter-spacing: 0.025em;
    font-weight: 600;
}

.lastDep {
    float: left;
}

.lastDeposits, .lastWithdrawals {
    display: table;
    width: 305px;
    border: 1px solid #ffffff;
    vertical-align: middle;
}

.depItem, .withItem {
    display: table-row;
    text-align: center;
}

.lastDeposits .depItem span {
    display: table-cell;
}

.wheelItem span:nth-child(1) {
    font-size: 25px;
    line-height: 32.42px;
    color: #ffffff;
    letter-spacing: 0.025em;
    font-weight: 600;
    display: block;
}

.wheelItem span:nth-child(2) {
    font-size: 15px;
    line-height: 24.32px;
    color: #ffffff;
    letter-spacing: 0.025em;
    display: block;
}

.wheelImg {
    width: 470px;
    height: 470px;
}

.action .lastWithdrawals div span:nth-child(1) {
    font-size: 15px;
    line-height: 40px;
    color: #ffffff;
    letter-spacing: 0.025em;
    font-weight: 300;
}

.action .lastWithdrawals div span:nth-child(2) {
    font-size: 15px;
    line-height: 40px;
    color: #ff692a;
    letter-spacing: 0.025em;
    font-weight: 600;
}

.lastWithdrawals .withItemItem span {
    display: table-cell;
}

.lastWith {
    float: right;
}

.action .info {
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    letter-spacing: 0.025em;
    font-weight: 300;
}

.graph .chart li {
    display: inline-block;
    background-color: #ffa42f;
    width: 35px;
    height: 23px;
    text-align: center;
}

.chart li a {
    text-decoration: none;
}

.action .graph {
    /*ГРАФИК*/
}

.mb280 {
    margin-bottom: 280px;
}

/*Реферальный бонус (main/referral)*/

.referral .refBackImg {
    width: 1920px;
    height: 1320px;
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -960px;
}

.refBackImg {
    position: relative;
    z-index: 1;
}

.textBlock p:nth-child(1) {
    font-size: 20px;
    line-height: 30px;
    color: #05141b;
    letter-spacing: 0.025em;
    font-weight: 600;
}

.mb45 {
    margin-bottom: 45px;
}

.mb560 {
    margin-bottom: 560px;
}

.h2Grad{
    font-size: 40px;
    line-height: 30px;
    letter-spacing: 0.025em;
    font-weight: 600;
    text-transform: uppercase;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb20d+0,fa7805+100 */
    background: #ffb20d; /* Old browsers */
    background: -moz-linear-gradient(left, #ffb20d 0%, #fa7805 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffb20d 0%, #fa7805 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffb20d 0%, #fa7805 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb20d', endColorstr='#fa7805', GradientType=1); /* IE6-9 */
}


.mb60 {
    margin-bottom: 60px;
}

.btnBorderClean button {
    font-size: 24px;
    letter-spacing: 0.025em;
    font-weight: 600;
    text-transform: uppercase;
    width: 270px;
    height: 70px;
    background-color: transparent;
    border: 3px solid #ff7e14;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb20d+0,fa7805+100 */
    background: #ffb20d; /* Old browsers */
    background: -moz-linear-gradient(left, #ffb20d 0%, #fa7805 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffb20d 0%, #fa7805 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffb20d 0%, #fa7805 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb20d', endColorstr='#fa7805', GradientType=1); /* IE6-9 */
}


/*Блок оплаты (main/payments)*/

.payments {
    background-color: #f7e2c9;
}

.payments div.inline {
    margin: 95px 33px 90px 33px;
}

/*Блок с картой (main/map)*/

/*Подвал (main/footer)*/

footer .copyright div {
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    letter-spacing: 0.025em;
}

.footMenu a {
    font-size: 15px;
    line-height: 50px;
    color: #ffffff;
    letter-spacing: 0.025em;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.footMenu span {
    font-size: 15px;
    line-height: 50px;
    color: #ff9001;
    letter-spacing: 0.025em;
    font-weight: 600;
    text-transform: uppercase;
}

.footContact div {
    font-size: 15px;
    line-height: 21px;
    color: #ff9001;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-transform: uppercase;
}

.footContact p {
    font-size: 15px;
    line-height: 21px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.025em;
}

.footContact div a[href*="tel"] {
    font-size: 15px;
    line-height: 21px;
    color: #ffffff;
    letter-spacing: 0.025em;
    text-decoration: none;
}

.footContact div a[href*="mail"] {
    font-size: 15px;
    line-height: 21px;
    color: #ff6b28;
    letter-spacing: 0.025em;
    text-transform: none;
}

.footContactMb25 {
    margin-bottom: 25px;
}

footer {
    background-color: #05141b;
}

footer .container {
    text-align: left;
}

footer .container .colomn {
    width: 25%;
    margin: 100px 0px 100px 0px;
}

/*Страница =Referral=*/

/*Шапка Реферала (referral/header)*/

header .RefHeadBackImg {
    width: 1920px;
    height: 522px;
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -960px;
}

.RefHeadBackImg {
    position: relative;
    z-index: 1;
}

/*.floatLine2 div {*/
/*float: left;*/
/*width: 33.3333%;*/
/*}*/

.exit div:nth-child(1) {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    letter-spacing: 0.025em;
}

.exit div:nth-child(2) {
    font-size: 17px;
    line-height: 30px;
    color: #ff9001;
    letter-spacing: 0.025em;
}

.floatLine3 > div {
    float: left;
    width: 25%;
    padding-left: 10px;
}

/*.user {*/
/*width: 260px;*/
/*height: 110px;*/
/*background-color: #000000;*/
/*text-align: justify;*/
/*}*/

/*.lastSeen {*/
/*width: 260px;*/
/*height: 110px;*/
/*background-color: #000000;*/
/*text-align: justify;*/
/*}*/

.userPhoto {
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.user span:nth-child(odd) {
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    letter-spacing: 0.025em;
}

.user span:nth-child(even) {
    font-size: 15px;
    line-height: 20px;
    color: #ff9001;
    letter-spacing: 0.025em;
    font-weight: 600;
}

.user a {
    font-size: 15px;
    line-height: 30px;
    color: #ff692a;
    letter-spacing: 0.025em;
    font-weight: 600;
    text-transform: uppercase;
}

.lastSeen span:nth-child(odd) {
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    letter-spacing: 0.025em;
}

.lastSeen span:nth-child(even) {
    font-size: 15px;
    line-height: 20px;
    color: #ff9001;
    letter-spacing: 0.025em;
    font-weight: 600;
}

.lastSeen span {
    display: block;
}

.depWidthButton {
    font-family: Podkova;
    font-size: 24px;
    color: #05141b;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    width: 260px;
    height: 110px;
}

.yrBalance1 {
    font-size: 20px;
    line-height: 53px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-weight: 600;
}

.yrBalance2 {
    font-size: 30px;
    line-height: 40px;
    color: #ff9001;
    font-weight: 600;
    letter-spacing: 0.025em;
}

/*Иконка валюты*/

.balance .refBalTxt {
    font-size: 20px;
    line-height: 53px;
    color: #ff9001;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

.balance > div {
    float: left;
    width: 25%;
}

.contentMenu a {
    font-size: 15px;
    line-height: 19.72px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.010em;
    font-weight: 600;
    text-decoration: none;
}

.contentMenu li:nth-child(7) a {
    font-size: 15px;
    line-height: 19.72px;
    color: #05141b;
    text-transform: uppercase;
    letter-spacing: 0.010em;
    font-weight: 600;
    text-decoration: none;
    background-color: #ff692a;
}

.contentMenu {
    border: 2px solid #ff692a;
}

.contentMenu li {
    display: inline-block;
    margin: 10px;
}


/*Контент страницы Referral (refferal/Content)*/

.content .RefContBackImg {
    width: 1920px;
    height: 2209px;
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -960px;
}

.RefContBackImg {
    position: relative;
    z-index: 1;
}

.h1RefWhite {
    font-size: 40px;
    line-height: 70px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-weight: 600;
    text-align: center;
}

/*Карточки статистики*/

.uplineUserPhoto {
    width: 84px;
    height: 84px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.h3RefWhiteBold {
    font-size: 24px;
    line-height: 70px;
    color: #ffffff;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    /*text-align: center;*/
    font-weight: 600;
}

.upline a {
    font-size: 20px;
    line-height: 24px;
    color: #ff9001;
    letter-spacing: 0.025em;
    font-weight: 600;
}

.yrStat > div {
    float: left;
    width: 50%;
    padding: 23px;
}

.stat li span:nth-child(1) {
    font-size: 15px;
    line-height: 80px;
    color: #ff9001;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-align: left;
}

.stat li span:nth-child(2) {
    font-size: 20px;
    line-height: 80px;
    color: #ff692a;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-align: right;
}

.refIns label {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    letter-spacing: 0.025em;
    font-weight: 600;
}

.refIns > div {
    float: left;
    width: 50%;
}

.refDate .RefTableSpan {
    font-size: 15px;
    line-height: 50px;
    color: #05141b;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.025em;
}

.refDate .refDate1 {
    font-size: 15px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.025em;
}

.refDate .refDate2 {
    font-size: 17px;
    line-height: 50px;
    color: #ff9001;
    font-weight: 600;
    letter-spacing: 0.025em;
}

.refDate .refDate3 {
    font-size: 17px;
    line-height: 50px;
    color: #ff692a;
    font-weight: 600;
    letter-spacing: 0.025em;
}

.refDate ul {
    display: table;
    width: 100%;
}

.refDate ul li {
    display: table-cell;
}

/*Таблица с рефералами клиента*/

.yrRefTable li span:nth-child(1), li span:nth-child(3), li span:nth-child(5) {
    font-size: 17px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.025em;
}

.yrRefTable li span:nth-child(2) {
    font-size: 17px;
    line-height: 50px;
    color: #ff692a;
    font-weight: 600;
    letter-spacing: 0.025em;
}


.yrRefTable li a {
    font-size: 15px;
    line-height: 50px;
    color: #ff9001;
    letter-spacing: 0.025em;
}

.yrRefTable li span:nth-child(6) {
    font-size: 17px;
    line-height: 50px;
    color: #bebebe;
    letter-spacing: 0.025em;
}


/*Кнопки навигации*/

.navigate div a {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    letter-spacing: 0.025em;
    text-decoration: none;
}

.navigate div span {
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    letter-spacing: 0.025em;
}

.navigate div {
    display: inline;
}

.naviBorder {
    background-color: #ff6b28;
    margin: 3px;
    border: 1px solid #ffffff;
    padding: 10px 15px 10px 15px;
}

/*footer страницы Referral*/

.footer p {
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    letter-spacing: 0.025em;
    text-align: center;
}